@charset "UTF-8";

p
{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    background-color: cornflowerblue;
    padding-top: 15px ;
    padding-bottom: 15px;
}
.A1
{
    line-height: 20px;
    margin-bottom: 10px;
}

.U,.B,.R,.M
{
    font-size: 20px;
    padding-right: 100px;
}

fieldset
{
    text-align: center;
   margin-left: 600px;
   margin-right:600px ;
   border-radius: 20px;
   box-shadow: 5px 5px 10px black;
}
button
{

    margin-top: 5px;
    font-weight: bold;
    padding-left: 15px ;
    padding-right:15px ;
    padding-top:7px ;
    padding-bottom: 7px ;
    color: white;
    background-color: rgb(207, 38, 38);
    border-radius: 15px;
    border: transparent;

}
button:hover{
    box-shadow: 5px 5px 10px;
    cursor: pointer;
    background-color: white ;
    color: rgb(207, 38, 38); ;
}

