@charset "UTF-8";

h1{
    text-align: center;
}

fieldset
{
    text-align: center;
}

.rn
{
    font-weight: bold;
    color: crimson;
    line-height: 25px;
}

.tx
{
    border-radius: 10px;
    line-height: 25px;
    border:solid;
   
    
}

button
{
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgb(133, 71, 192);
    color: white;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0.8;
    border: none;
}

button:hover
{
    color: rgb(133, 71, 192) ;
    background-color: white;
    opacity: 0.6;
    box-shadow: 3px 3px 10px;
}